In [5]:
# Dependencies
import pandas as pd

In [6]:
# save file path to variable
budget_csv = "Resources/budget_data.csv"

In [7]:
# read with pandas
budget_df = pd.read_csv(budget_csv)
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [10]:
#The total number of months included in the dataset
len(budget_df)

86

In [11]:
# The net total amount of "Profit/Losses" over the entire period
budget_df["Profit/Losses"].sum()

38382578

In [18]:
#The average of the changes in "Profit/Losses" over the entire period
differences=[]
previous = 0
for index,row in budget_df.iterrows():
   # print(row["Profit/Losses"])
    change = row["Profit/Losses"] - previous
    previous = row["Profit/Losses"]
    if index >0:
        differences.append(change)
average = sum(differences)/len(differences)
average

-2315.1176470588234

In [19]:
# The greatest increase in profits (date and amount) over the entire period
max(differences)

1926159

In [20]:
# The greatest decrease in losses (date and amount) over the entire period
min(differences)

-2196167